
/* global */

@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Krub", serif;
}

.main-wrapper {

    height: 100vh;
    border: 1px;
    padding: 10px;
    margin: 25px auto;

    box-shadow: 4px 4px 8px #bbb;
}

a:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* header */

.head {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid gainsboro;
}

.leftlogo {
    display: flex;
    align-items: center;
    gap: 10px;
}


.leftlogo i {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: aquamarine;
}

.leftlogo span {
    font-weight: bold;
    font-size: 1.5rem;
}

.leftlogo p {
    font-size: 1.5rem;
}

.midlink {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.rightlink {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.rightlink i {
    color: slategrey;
}

.pop-red::after{
    content: '1';
    position: absolute;
    font-size: 0.75rem;
    top: 55px;
    right: 315px;
    background-color: red;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
  }

/* mycart */

.mycart {
    width: 80%;
    height: 15%;
    margin: 0 auto;
    padding: 50px;
}

/* left content */

.content {
    /* background-color: blueviolet; */
    margin: 0 auto;
    height: 70%;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.order-box{
    /* background-color: chocolate; */
    width: 40%;
}

.orderlist {
    /* background-color: aquamarine; */
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    box-shadow: 4px 4px 8px #bbb;
    border: 1px;
    margin: 20px auto;
}

.orderlist i {
    color: aquamarine;
    font-size: 1.5rem;
}

.picborder {
    background-color: blue;
    width: 128px;
    height: 128px;
    border: 1px solid white;
    border-radius: 15%;
    overflow: hidden;
}

.orderlist img {
    width: 100%;
}

.info-order {
    /* background-color: chartreuse; */
    font-size: 1.25rem;
}

.lowlv {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.order-box .lowlv p {
    width: 20px;
    height: 20px;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    border-radius: 50%;
}

.order-box .lowlv .circol {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 50%;
}

.order-box .lowlv select {
    border: 3px solid aquamarine;
    border-radius: 5px;
}

/* right content */

.order-info-box {
    /* background-color: darkseagreen; */
    width: 40%;
    height: 70%;
    padding: 10px;
    margin: 20px;

    box-shadow: 4px 4px 8px #bbb;
    border: 1px;
    font-size: 1.25rem;
}

.lowsub {
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: slategrey;
}

.lowpro {
    /* background-color: darkkhaki; */
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid gainsboro;
    padding: 10px;
    gap: 10px;
}

.order-info-box .lowpro i {
    color: aquamarine;
    font-size: 1.5rem;
}

.order-info-box .lowpro input {
    /* line-height: 1.5; */
    /* font-size: 16px; */
    width: 70%;
    border: 1px solid slategray;
    padding: 10px;
    border-radius: 8px;
}

.order-info-box .lowpro .button {
    width: 20%;
    border: 1px solid aquamarine;
    padding: 10px;
    border-radius: 16px;
    background-color: white;
    color: aquamarine;
}

.lowtotal {
    /* background-color: deeppink; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.lowtotal h2 {
    color: aquamarine;
}

.loginbtn {
    display: flex;
    justify-content: center;
}

.order-info-box .loginbtn a:link, a:visited {
    background-color: aquamarine;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    border-radius: 16px;
  }

.order-info-box .loginbtn a:hover, a:active {
    background-color: aqua;
  }